<% layout("/layouts/boilerplate") %>
  <body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
      <div class="mb-3">
        <label for="title" class="form-label" >Title</label> 
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" />
      </div>
      
      <br /><br />
      <div class="mb-3">
        <textarea name="listing[description]">
<%= listing.description %></textarea>
        <textarea name="listing[description]">
          <%= listing.description %></textarea>
      </div>
      
      <br /><br />
      <input name="listing[image]" value="<%= listing.image %>" type="text" />
      <br /><br />
      <input name="listing[price]" value="<%= listing.price %>" type="number" />
      <br /><br />
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
      />
      <br /><br />
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
      />
      <br /><br />
      <button>Edit</button>
    </form>
  </body>
</html>
